<title>
Cart Owner Advertisments
</title> 
<style type="text/css">

html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: #CCFF99; }
#div2 { background: #99FFCC; }
#div3 { background: #FFCCFF; }
#div4 { background: #66CCFF; }
</style>
<html> 
<body> 
<div id="div1">
</div>
<div id="div2">
</div>
<div id="div3">
</div>
<div id="div4">
</div><table border="1">
<tr>
<td>row 1, cell 1</td>
<td>row 1, cell 2</td>
</tr>
<tr>
<td>row 2, cell 1</td>
<td>row 2, cell 2</td>
</tr>
</table>
</body> 
</html>
