<html>
<title> 
Bronze Advertiser Form 
</title> 

<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">

<body>
<div id="bronze" align ="center">
<h1>Become a Bronze  Advertiser:</h1>

As a Bronze sponsor, you will receive one box ad. <br> 
- on the Carts Pages. <br> <br> 

<form action="MAILTO:cartwheels14@gmail.com" method="post" enctype="text/plain">
Name: <input type="text" name="name" value="name"><br> <br> 
E-mail Address: <input type="text" name="mail" value="email"><br><br> 
Address of Cart: <input type="text" name="address" value="address"><br><br> 
Name of Cart (if applicable): <input type="text" name="Cart_Name" value="Cart_Name"><br><br> 
Text to appear in ad: <br> <textarea name="comment" value="comments" cols="40" rows ="15"> </textarea> <br> <br> 
<b> <u> Cost:</u> </b> $150 <br> <br> 
Within 24 hours of submitting this form, you wil be emailed a paypal invoice. <br> Once your invoice is paid, we will begin advertising for you on the website.<br>  You will receive monthly updates from the Cartwheels staff. <br> <br> 

<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
</div>
</body>
</html>
