<html>
<title> 
Platinum Advertiser Form 
</title> 
<style type = "text/css">
html { font-family:"Arial"; padding-top: 20px; background: #CCFF99; }
</style>
<body>
<div id="div1" align ="center">
<h1>Become a Platinum Advertiser:</h1>

As a Platinum sponsor, you will receive two leaderboard ads. <br> 
- one of the Results Pages <br> 
- one on the Carts Pages. <br> <br> 

<form action="MAILTO:cahnja@gmail.com" method="post" enctype="text/plain">
Name: <input type="text" name="name" value="name"><br> <br> 
E-mail Address: <input type="text" name="mail" value="email"><br><br> 
Comments: <br> <textarea name="comment" value="comments" cols="40" rows ="15"> </textarea> <br> <br> 

<b> <u> Cost:</u> </b> $400 <br> <br> 

Within 24 hours of submitting this form, you wil be emailed a paypal invoice. <br> Once your invoice is paid, we will begin advertising for you on the website.<br>  You will receive monthly updates from the Cartwheels staff. <br> <br> 

<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
</div>
</body>
</html>
