{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='include/jquery.cycle.all.js') }}"></script>

<style>
  .profile-image {
    position: absolute;
    width: 225px;
    height: 225px;
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 10px;
    overflow: hidden;
  }

  .profile-image img {
    position: absolute;
    margin: auto;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .cart-info {
    margin-top: 50px;
    width: 350px;
    margin-left: 400px;
    margin-right: auto;
  }

  .meta {
    margin-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px solid #bbb;
  }

  .info {
    margin-bottom: 15px;
  }

  .extra-info {
    width: 215px;
    margin-top: -200px;
    margin-left: 100px;
    height: 500px;
  }

  .extra-info .link {
    margin-top: 20px;
    line-height: 10px;
    text-align: center;
  }

  .cart-tags {
    display: inline-block;
    line-height: 35px;
  }

  .cart-tags span {
    font-size: 15px;
    background-color: #efefef;
    border-radius: 2px;
    padding: 5px;
    margin: 3px;
  }

  .cart-tags span:hover {
    background-color: #999999;
  }

  span a {
    text-decoration: none;
    color: black;
  }

  #gallery-cart {
    margin-top: 50px;
    margin-left: 100px;
    width: 225px;
  }
</style>
{% endblock %}


{% block main_content %}
<div id=gallery-cart>

{% if cart.image_paths|length > 0 %}
{% for path in cart.image_paths %}
<div class="profile-image">
  <img src={{path}}>
</div>
{% endfor %}

{% else %}
<div class="profile-image">
  <img src="{{url_for('serve_default')}}">
</div>
{% endif %}
</div>

<div class="cart-info">
  <div class="meta">
    Name
  </div>
  <div class="name info">
    {% if cart.name != '' %}
      {{cart.name}}

    {% else %}
      Unknown
    {% endif %}
  </div>

  <div class="meta">
    Owner
  </div>
  <div class="owner info">
    {% if cart.owner != '' %}
      {{cart.owner}}

    {% else %}
      Unknown
    {% endif %}
  </div>

  <div class="meta">
    Zip Code
  </div>
  <div class="zip info">
    {% if cart.zip_code != '' %}
      {{cart.zip_code}}

    {% else %}
      Unknown
    {% endif %}
  </div>

  <div class="meta">
    Rating
  </div>
  <div class="rating info">
    {{cart.rating}}
  </div>

  <div class="meta">
    Registration Number
  </div>
  <div class="permit-number info">
    {% if cart.permit_number != '' %}
      {{cart.permit_number}}

    {% else %}
      Unknown
    {% endif %}
  </div>

  <div class="meta">
    Permit Issued
  </div>
  <div class="permit-issuance info">
    {% if cart.issuance != '' %}
      {{cart.issuance}}

    {% else %}
      Unknown
    {% endif %}
  </div>

  <div class="meta">
    Permit Expires
  </div>
  <div class="permit-expiration info">
    {% if cart.expiration != '' %}
      {{cart.expiration}}

    {% else %}
      Unknown
    {% endif %}
  </div>
</div>

<div class="extra-info">
  <div class="cart-tags">
    {% for tag in cart.tags %}
    <span><a href=#>{{tag}}</a></span>
    {% endfor %}
  </div>

  <div class=link>
    <a href=#>View Menu</a>
  </div>
  <div class=link>
    <a href=#>Get Directions</a>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/cart-widget.js') }}"></script>
{% endblock %}
