<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Cartwheels: Directions</title>

<link rel="stylesheet" type="text/css" href="css/directions.css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Yrvg4i4oRLf9cbnFpyS3YXvxX1PhT5E&v=3.exp&sensor=false"></script>
<script src="js/directions.js"></script>

 

<script>



create_map("345 Chambers street, new york, ny","200 42nd street new york, ny","map-canvas", "directions-panel", "mode");





</script>

<style>


</style>

</head>

<body>

<h2> navbar goes here</h2>

    <div id="panel">
      <b>Mode of Travel: </b>
      <select id="mode" onchange="calcRoute();">
	<option value="DRIVING">Driving</option>
	<option value="WALKING">Walking</option>
	<option value="BICYCLING">Bicycling</option>
	<option value="TRANSIT">Transit</option>
      </select>
    </div>
<br>
<br>

    <div id="directions-panel"></div>
    <div id="map-canvas"></div>

<br>
<br>



  </body>
</html>
