<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Cartwheels: Directions</title>

<link rel="stylesheet" type="text/css" href="css/directions.css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Yrvg4i4oRLf9cbnFpyS3YXvxX1PhT5E&v=3.exp&sensor=false"></script>
<script src="js/directions.js"></script>

 

<script>
var get_directions = function(saddress, eaddress){
		
}

</script>

<style>


</style>

</head>

<body>

<div class="results">
	<h3>blah blah</h3>
	<p>sjdofijsdofij</p>
	<a>get directions</a>

	
<span class="directions">
    <div id="panel">
      <b>Mode of Travel: </b>
      <select id="mode-1" onchange="calcRoute();">
	<option value="DRIVING">Driving</option>
	<option value="WALKING">Walking</option>
	<option value="BICYCLING">Bicycling</option>
	<option value="TRANSIT">Transit</option>
      </select>
    </div>
<br>
<br>

    <div id="directions-panel-1"></div>
    <div id="map-canvas-1"></div>

</span>

</div>

   <script>
      document.getElementById('mode-1').value = "WALKING";
	create_map("345 Chambers street, new york, ny","18 fuller place new york, ny","map-canvas-1", "directions-panel-1", "mode-1");
	//calcRoute();	
   </script>	 
  </body>
</html>
