<title> 
Cart Profile
</title> 

<style type="text/css">
</style>

<script> 
var clickedAppear = 0; 
var appearText = '<br><form><center>Permit #: <input name = "permit" type="text"> </input> <br> <br>Expiration Date: <input name = "expiration" type="text"> </input> <br> <br><input type="submit" value="Submit"> <br></form> <center>'
</script>

<div id = "intro" style ="pading-top:20px">
<h2> <b> <u> <center> Welcome, Justin! This is Your Business Page <h2> </b> </u> </center>
</div>

<div id ="carts" align="center"> 
<b> Carts You Own:</b> <br>
306 East 52nd Street <br>

<center onclick="if(clickedAppear%2==0){getElementById('appear').innerHTML=appearText;clickedAppear++;getElementById('header1').style='color:green';}else{clickedAppear++;getElementById('appear').innerHTML='';getElementById('header1').style='color:blue';}">
<b id="header1" style="color:blue; font-style:italic"> <u> Add Another </u> </b> </div>

<div id = "appear">
</div>
</div>
<br> 
<b> <center> Advertisments You Own </b> </center> <br> 

<b> <center> Menu's You've Added </b> </center> 





