{% extends "reviews_layout.html" %}

{% block head_continued %}
<style>
  h2 {
    width: 930px;
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .manage-item {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 100%;
    border-right: 1px solid #ccc;
    border-bottom: none;
    margin-left: -5px;
  }

  .manage-item:hover {
    background-color: #eee;
  }

  .image-meta {
    position: absolute;
    text-align: center;
    display: inline;
    width: 110px;
    height: 110px;
    background-color: #ccc;
    border: 1px solid #bbb;
    overflow: hidden;
  }

  .image-meta img {
    z-index: 1;
    margin-top: 5px;
  }

  .content-meta {
    margin-left: 120px;
    margin-top: 5px;
    display: inline-block;
  }

  .content-meta div {
    display: inline-block;
    line-height: 27px;
    height: 27px;
    width: 225px;
    overflow: hidden;
  }

  .content-meta .cart-link {
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-decoration: none;
  }

  .form {
    display: inline-block;
  }

  .input {
    width: 300px;
  }

  .links {
    display: inline-block;
  }

  .links a {
    line-height: 50px;
    text-decoration: none;
    background-color: #eee;
    color: #6B6BB2;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  .links a:hover {
    background-color: #bbb;
  }

  .add-link {
    display: block;
    width: 880px;
    text-align: center;
    text-decoration: none;
    background-color: #eee;
    color: #6B6BB2;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
  }

  .add-link:hover {
    background-color: #bbb;
  }

  #cart-manager {
    margin-top: 50px;
    width: 890px;
    height: 250px;
    border: 2px solid #444;
    overflow-x: auto;
    overflow-y: hidden;
  }

  #manager-container {
    width: 2000px;
  }

  #add-form {
    margin-left: 255px;
  }

  #info-form {
    margin-left: 120px;
  }
</style>
{% endblock %}


{% block before_reviews %}
<h2>Welcome {{ user.first_name }}, Manage Your Carts Here</h2>
<div id=cart-manager class=centered-relative>
  <div id=manager-container>
    {% if user.get_carts() != [] %}
    {% for cart in user.get_carts() %}
    <div class=manage-item>
      <div class="image-meta">
        {% if cart.image_paths != [] %}
        <img src="{{cart.image_paths[0]}}">

        {% else %}
        <img src="{{ url_for('serve_default') }}">
        {% endif %}
      </div>

      <div class="content-meta">
        <b>Name</b>
        <div class=name>
          {% if cart.name == '' %}
          Unknown

          {% else %}
          {{cart.name}}
          {% endif %}
        </div>
        <b>Zip Code</b>
        <div class=name>
          {% if cart.zip_code == '' %}
          Unknown

          {% else %}
          {{cart.zip_code}}
          {% endif %}
        </div>
        <b>Permit Number</b>
        <div class=license>
          {% if cart.permit_number == '' %}
          Unknown

          {% else %}
          {{cart.permit_number}}
          {% endif %}
        </div>
        <b>Issuance Date</b>
        <div class=issuance>
          {% if cart.issuance == '' %}
          Unknown

          {% else %}
          {{cart.issuance}}
          {% endif %}
        </div>
        <b>Expiration Date</b>
        <div class=expiration>
          {% if cart.expiration == '' %}
          Unknown

          {% else %}
          {{cart.expiration}}
          {% endif %}
        </div>
        <a class=cart-link href=#>Click to Manage Information</a>
      </div>
    </div>
    {% endfor %}

    {% else %}
    No carts to display
    {% endif %}
  </div>
</div>

<a class="add-link centered-relative" href=#>Click to Add Carts</a>
<form id=add-form class=hidden method=POST>
  <input class="input form-input" name="license" type=text placeholder="Cart license">
  <input type=submit name=button value=add>
</form>

<div id=reviews>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/form-utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/manager-widget.js') }}"></script>
{% endblock %}
