{% extends "layout.html" %}

{% block head %}
<style>
  .toggle-desc {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #6B6BB2;
  }

  .description {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
</style>
{% endblock %}

{% block main_content %}

<div class="form">
  <div class="form-header">Register as a user</div>
  <form method=POST id=user-form>
    <input class="input form-input" name="first" type=text placeholder="First Name">
    <input class="input form-input" name="last"type=text placeholder="Last Name">
    <input class="input form-input" name="email" type=text placeholder="Email address">
    <input class="input form-input" name="pass" type=password placeholder="Password">
    <input type=submit name=user-submit value=register>
  </form>

  <a class="toggle-desc" href=#>more information</a>
  <div class="description hidden">
  Fill out the above form with your name, email, and password in order to access reviews of mobile street vendors in NYC and to write your own reviews.
  </div>
</div>

<div class="form">
  <div class="form-header">Register as a cart owner</div>
  <form method=POST id=owner-form>
    <input class="input form-input" name="first" type=text placeholder="First Name">
    <input class="input form-input" name="last"type=text placeholder="Last Name">
    <input class="input form-input" name="license"type=text placeholder="Cart License Number">
    <input class="input form-input" name="email" type=text placeholder="Email address">
    <input class="input form-input" name="pass" type=password placeholder="Password">
    <input type=submit name=owner-submit value=register>
  </form>

  <a class="toggle-desc" href=#>more information</a>
  <div class="description hidden">
    If you are a cart owner, you can sign up to manage your cart(s) on this website. 
    <br>
    <br>
    After verifying your information, we will upgrade your account, allowing you to add menus to your carts, edit information, modify the photos of your cart, and buy advertisements.
  </div>
</div>

{% endblock %}

{% block scripts %}
<!--scripts-->
<script type="text/javascript" src="{{ url_for('static', filename='js/register-widget.js') }}"></script>
{% endblock %}
