<title>
Write a Review
</title>
<style type="text/css">
</style> 

<div id="intro" style="padding-top:20px">
<h1 align=center style="font-family:'arial'"> <b> <u> Write a Review </b> </u> </h1> <br>
</div> 

<div id="form" align ="center"> 
<form>
How many stars do you give this cart?
	<select name = "starList">	
		<option value="one">One</option>
		<option value="two">Two</option>
		<option value="three">Three</option>
		<option value="four">Four</option>
		<option value="five">Five</option>
	</select>
	
	<br> <br> <b> <u> Your Review </u> </b> <br> <br>
	<textarea name="submission" cols = "40" rows= "15"></textarea> <br><br>
	<input type="submit" value="Submit" />
</form>