<html>

<head>

<link rel="stylesheet" type="text/css" href="css/userpage.css">


</head>

<body>

<h1>header 1</h1>



<div class ="container">
   <div class="row">
     <div class="col-lg-2">
       <h2>Toolbar</h2>
       <p>Use the below buttons to navigate between the user features</p>
       <p><a class="user-toolbar" href="/" role="button">Home</a></p>
       <p><a class="user-toolbar" href="/" role="button">Profile</a></p>
       <p><a class="user-toolbar" href="/" role="button">etc</a></p>

     </div>
     <div class="col-lg-6">
       <h2>Welcome, {{username}}</h2>
	<p>Here are your most recent reviews:</p>



       {% for cart in carts %}
         <br>
         <div class="list-group">
	    
       	 	<a href="/directions/{{location}}/{{cart['address']}}" class="list-group-inner active">
          	<h4 class="list-group-h4">{{cart['name']}}</h4>
         	<img src="{{cart['img_url']}}" alt="picture" width="150" height="150">
         	<p class="list-group-item-text"><br>Location : {{cart['address']}}</p> 
         	</a>
           
         </div>
         <br>
       {% endfor %}

     </div>
   </div>
 </div>






</body>


</html>



